name: CI
'on': push
jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 18.16.1
    steps:
      - uses: actions/checkout@v3
      - name: 'Build / Test Node ${{ matrix.node-version }}'
        uses: actions/setup-node@v3.6.0
        with:
          node-version: '${{ matrix.node-version }}'
          cache: 'npm'
      - run: npm ci
      - run: npm run cover --if-present
  release:
    needs:
      - test-node
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: 18.16.1
          cache: 'npm'
      - run: npm ci
      - run: npx semantic-release
        env:
          CI: 'true'
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
          NPM_TOKEN: '${{ secrets.NPM_TOKEN }}'
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
